<div>
    <%= link_to sanitize("&larr; Back to subscriptions"), subscription_path(@subscription) %>

    <div>
        <h1>Edit Subscription</h1>
    </div>

    <%= turbo_frame_tag @subscription do %>
        <%= render "subscriptions/form", subscription: @subscription %>
    <% end %>
</div>
