.sign-up-container {
    display: flex;
    width: 24rem;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    box-shadow: 010px 20px(0, 0, 0, 0.5);
}

.sign-up-container .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.1rem 0;
    height: 48px;
}

.sign-up-container .form-row input {
    padding: 0.2rem;
}

.sign-up-container .form-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0.2rem 0;
}