.subscription {
    display: flex;
    width: 24rem;
    flex-direction: column;
    border: 1px solid black;
    transition: box-shadow 0.2s ease;
    padding: 1rem 2rem;
    cursor: default;
    height: 100%;
    justify-content: space-between;
}

.subscription:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.subscription-card-header {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    margin-bottom: 1.5rem;
}

.subscription-name {
    display: flex;
    align-items: first baseline;
    gap: 0.25rem;
}

.subscription-price-change-percentage .no-price-change::after {
    content: " 😇"
}

.subscription-price-change-percentage .moderate-price-change {
    color: var(--color-secondary);
}

.subscription-price-change-percentage .moderate-price-change::after {
    content: " 😢"
}

.subscription-price-change-percentage .large-price-change,
.subscription-price-change-percentage .absurd-price-change {
    color: var(--color-primary);
    font-weight: 700;
}

.subscription-price-change-percentage .large-price-change::after {
    content: " 😭"
}

.subscription-price-change-percentage .absurd-price-change::after {
    content: " 💀"
}

.subscription img {
    width: 16px;
    height: 16px;
}

.subscription-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}
