.subscription-form {
    display: flex;
    width: 24rem;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.subscription-form .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    height: 48px;
}

.subscription-form .form-row input {
    padding: 0.2rem;
}

.subscription-form .form-row select {
    padding: 0 0.5rem;
    height: 100%;
    width: 97%;
}

.subscription-form .form-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.form-actions input[type=submit] {
    padding: 5px 15px;
    color: white;
    background: var(--color-primary);
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}
